<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<body>
<th:block layout:fragment="center_body">
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>USER CENTER</h3>
            <div class="information clearfix">
                <a th:href="@{/user/myself_information/}"><img th:src="@{/media/{f}(f=${user.ulogo})}" alt=""></a>
            </div>
            <ul>
                <li><a th:href="@{/user/info/}">个人信息</a></li>
                <li><a th:href="@{/user/publishers/}">发布商品</a></li>
                <li><a th:href="@{/user/changeInformation/}">修改资料</a></li>
                <li><a th:href="@{/user/changeInPwd/}">修改密码</a></li>
                <li><a th:href="@{/user/order/1}" class="active">全部订单</a></li>
                <li><a th:href="@{/user/site/}">收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            <th:block th:each="orderinfo : ${page.content}">
                <ul class="order_list_th w978 clearfix">
                    <li class="col01" th:text="${#temporals.format(orderinfo.odate, 'yyyy-MM-dd HH:mm:ss')}"></li>
                    <li class="col02">订单号：<span th:text="${orderinfo.oid}"></span></li>
                    <li class="col02 stress">已支付</li>
                    <li class="col02 stress"></li>
                </ul>
                <table class="order_list_table w980">
                    <tbody>
                    <tr th:each="detail, stat : ${orderinfo.detailList}">

                        <td width="50%">
                            <ul class="order_goods_list clearfix" style="display: flex; align-items: center; padding: 15px 0; margin: 0;">
                                <li class="col01" style="flex: 0 0 80px; text-align: center;">
                                    <img th:src="@{/media/{f}(f=${detail.goods.gpic})}" style="width: 60px; height: 60px; object-fit: cover; border: 1px solid #eee;">
                                </li>
                                <li class="col02" style="flex: 1; text-align: left; padding: 0 15px; line-height: 1.8;">
                                    <div th:text="${detail.goods.gtitle}" style="font-weight: 600; font-size: 14px; color: #333; margin-bottom: 4px;"></div>
                                    <div style="font-size: 12px; color: #888;">
                                        单价: <em th:text="${detail.goods.gprice}" style="color: #ff3948; font-style: normal; font-weight: bold;"></em> 元
                                        <span style="margin: 0 8px; color: #ccc;">|</span>
                                        卖家: <em th:text="${detail.goods.gunit}" style="font-style: normal; color: #555;"></em>
                                    </div>
                                </li>
                                <li class="col03" style="flex: 0 0 60px; text-align: center; font-size: 14px; color: #333;">
                                    <span th:text="${detail.count}"></span>件
                                </li>
                            </ul>
                        </td>

                        <td width="10%" th:if="${stat.index == 0}" th:rowspan="${stat.size}">
                            <span th:text="${orderinfo.ototal}"></span>元
                        </td>
                        <td width="10%" th:if="${stat.index == 0}" th:rowspan="${stat.size}">
                            已付款
                        </td>

                        <td width="10%"><a href="#" class="oper_btn">物流</a></td>
                        <td width="10%"><a th:href="@{/detail/{id}/(id=${detail.goods.id})}" class="oper_btn">评论</a></td>
                        <td width="10%">
                            <a href="tel:15015553093" onclick="alert('如需办理退换货，请联系人工客服。\n客服电话：15015553093');" class="oper_btn">退货</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </th:block>

            <div class="pagenation">
                <a th:if="${page.hasPrevious()}" th:href="@{/user/order/{idx}(idx=${page.number})}">上一页</a>
                <th:block th:each="i : ${#numbers.sequence(1, page.totalPages)}">
                    <a th:if="${i == page.number + 1}" th:href="@{/user/order/{idx}(idx=${i})}" class="active" th:text="${i}"></a>
                    <a th:unless="${i == page.number + 1}" th:href="@{/user/order/{idx}(idx=${i})}" th:text="${i}"></a>
                </th:block>
                <a th:if="${page.hasNext()}" th:href="@{/user/order/{idx}(idx=${page.number + 2})}">下一页</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>